<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact Us Right Now!</h1>
    <p> Thanks for getting in touch! </p>

    <p> Your message has been sent to <%= data.who %> from the <%= data.department %> department. </p>
    <p> We will get back to you at <%= data.email %> </p>

</body>
</html>